@import url('https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";
*{
    font-family: outfit-fontrex;
}

.outfit-fontrex{
  font-family: "Outfit";
  font-optical-sizing: auto;
  font-weight: 93;
  font-style: normal;
}